DROP TABLE IF EXISTS con.CONCUSTM CASCADE;

CREATE TABLE con.CONCUSTM
(
 	 CUST_ID	 varchar(50)  NOT NULL,
 	 CUST_NM	 varchar(100)  NOT NULL,
 	 REP_FAX_NO	 varchar(256) ,
 	 REP_TEL_NO	 varchar(256) ,
 	 CORP_AD_NO	 varchar(20) ,
 	 MGR_NM	 varchar(100)  NOT NULL,
 	 MGR_EMAIL_ADDR	 varchar(100)  NOT NULL,
 	 MGR_TEL_NO	 varchar(20)  NOT NULL,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCUSTM.CUST_ID IS '고객아이디';
COMMENT ON COLUMN con.CONCUSTM.CUST_NM IS '고객명';
COMMENT ON COLUMN con.CONCUSTM.REP_FAX_NO IS '대표팩스번호';
COMMENT ON COLUMN con.CONCUSTM.REP_TEL_NO IS '대표전화번호';
COMMENT ON COLUMN con.CONCUSTM.CORP_AD_NO IS '법인등록번호';
COMMENT ON COLUMN con.CONCUSTM.MGR_NM IS '담당자명';
COMMENT ON COLUMN con.CONCUSTM.MGR_EMAIL_ADDR IS '담당자이메일주소';
COMMENT ON COLUMN con.CONCUSTM.MGR_TEL_NO IS '담당자전화번호';
COMMENT ON COLUMN con.CONCUSTM.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCUSTM.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCUSTM.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCUSTM.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCUSTM.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCUSTM.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCUSTM IS '고객정보';

CREATE UNIQUE INDEX CONCUSTM_PK
 ON con.CONCUSTM ( CUST_ID );

ALTER TABLE con.CONCUSTM *
 ADD CONSTRAINT CONCUSTM_PK PRIMARY KEY
 USING INDEX CONCUSTM_PK ;


DROP TABLE IF EXISTS con.CONCUSTCONTM CASCADE;

CREATE TABLE con.CONCUSTCONTM
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 CUST_ID	 varchar(50)  NOT NULL,
 	 CONT_NM	 varchar(100)  NOT NULL,
 	 VALID_START_DT	 varchar(8)  NOT NULL,
 	 VALID_END_DT	 varchar(8)  NOT NULL,
 	 CONT_STAT_CD	 varchar(10)  NOT NULL,
 	 NETWORK_FG_CD	 varchar(10)  NOT NULL,
 	 PASSWORD_LOD_CD	 varchar(10) ,
 	 PASSWORD_MIN_LEN	 integer ,
 	 PASSWORD_RNWL_CYCL_CD	 varchar(10) ,
 	 PASSWORD_USE_LMT_YN	 varchar(1) ,
 	 PASSWORD_POSE_YN	 varchar(1) ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCUSTCONTM.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCUSTCONTM.CUST_ID IS '고객아이디';
COMMENT ON COLUMN con.CONCUSTCONTM.CONT_NM IS '계약명';
COMMENT ON COLUMN con.CONCUSTCONTM.VALID_START_DT IS '유효시작일자';
COMMENT ON COLUMN con.CONCUSTCONTM.VALID_END_DT IS '유효종료일자';
COMMENT ON COLUMN con.CONCUSTCONTM.CONT_STAT_CD IS '계약상태코드';
COMMENT ON COLUMN con.CONCUSTCONTM.NETWORK_FG_CD IS '네트워크구분코드';
COMMENT ON COLUMN con.CONCUSTCONTM.PASSWORD_LOD_CD IS '비밀번호난이도코드';
COMMENT ON COLUMN con.CONCUSTCONTM.PASSWORD_MIN_LEN IS '비밀번호최소길이';
COMMENT ON COLUMN con.CONCUSTCONTM.PASSWORD_RNWL_CYCL_CD IS '비밀번호갱신주기코드';
COMMENT ON COLUMN con.CONCUSTCONTM.PASSWORD_USE_LMT_YN IS '비밀번호사용제한여부';
COMMENT ON COLUMN con.CONCUSTCONTM.PASSWORD_POSE_YN IS '비밀번호일시정지여부';
COMMENT ON COLUMN con.CONCUSTCONTM.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCUSTCONTM.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCUSTCONTM.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCUSTCONTM.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCUSTCONTM.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCUSTCONTM.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCUSTCONTM IS '고객계약정보';

CREATE UNIQUE INDEX CONCUSTCONTM_PK
 ON con.CONCUSTCONTM ( TENANT_ID );

ALTER TABLE con.CONCUSTCONTM *
 ADD CONSTRAINT CONCUSTCONTM_PK PRIMARY KEY
 USING INDEX CONCUSTCONTM_PK ;


DROP TABLE IF EXISTS con.CONCPM CASCADE;

CREATE TABLE con.CONCPM
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 CP_CD	 varchar(10)  NOT NULL,
 	 CP_NM	 varchar(100)  NOT NULL,
 	 CP_START_DT	 varchar(8)  NOT NULL,
 	 CP_END_DT	 varchar(8)  NOT NULL,
 	 CP_PLACE_NM	 varchar(100)  NOT NULL,
 	 CP_SCALE_CD	 varchar(10)  NOT NULL,
 	 CP_TYPE_CD	 varchar(10)  NOT NULL,
 	 EXPECT_USER_NUM	 integer ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCPM.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCPM.CP_CD IS '대회코드';
COMMENT ON COLUMN con.CONCPM.CP_NM IS '대회명';
COMMENT ON COLUMN con.CONCPM.CP_START_DT IS '대회시작일자';
COMMENT ON COLUMN con.CONCPM.CP_END_DT IS '대회종료일자';
COMMENT ON COLUMN con.CONCPM.CP_PLACE_NM IS '대회장소명';
COMMENT ON COLUMN con.CONCPM.CP_SCALE_CD IS '대회규모코드';
COMMENT ON COLUMN con.CONCPM.CP_TYPE_CD IS '대회유형코드';
COMMENT ON COLUMN con.CONCPM.EXPECT_USER_NUM IS '예상사용자수';
COMMENT ON COLUMN con.CONCPM.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCPM.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCPM.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCPM.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCPM.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCPM.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCPM IS '대회정보';

CREATE UNIQUE INDEX CONCPM_PK
 ON con.CONCPM ( TENANT_ID,CP_CD );

ALTER TABLE con.CONCPM *
 ADD CONSTRAINT CONCPM_PK PRIMARY KEY
 USING INDEX CONCPM_PK ;


DROP TABLE IF EXISTS con.CONCPSERVICEM CASCADE;

CREATE TABLE con.CONCPSERVICEM
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 CP_CD	 varchar(10)  NOT NULL,
 	 SERVICE_CD	 varchar(10)  NOT NULL,
 	 SERVICE_START_DT	 varchar(8)  NOT NULL,
 	 SERVICE_END_DT	 varchar(8)  NOT NULL,
 	 SERVICE_URL_ADDR	 varchar(1000)  NOT NULL,
 	 REP_COLOR_VALUE	 varchar(10) ,
 	 FST_LANG_CD	 varchar(10) ,
 	 SCND_LANG_CD	 varchar(10) ,
 	 THRD_LANG_CD	 varchar(10) ,
 	 FOTH_LANG_CD	 varchar(10) ,
 	 FITH_LANG_CD	 varchar(10) ,
 	 TEST_LAB_USE_YN	 varchar(1) ,
 	 TEST_LAB_REMARK_DESC	 varchar(4000) ,
 	 TEST_EVENT_ADD_YN	 varchar(1) ,
 	 TEST_EVENT_REMARK_DESC	 varchar(4000) ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCPSERVICEM.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCPSERVICEM.CP_CD IS '대회코드';
COMMENT ON COLUMN con.CONCPSERVICEM.SERVICE_CD IS '서비스코드';
COMMENT ON COLUMN con.CONCPSERVICEM.SERVICE_START_DT IS '서비스시작일자';
COMMENT ON COLUMN con.CONCPSERVICEM.SERVICE_END_DT IS '서비스종료일자';
COMMENT ON COLUMN con.CONCPSERVICEM.SERVICE_URL_ADDR IS '서비스URL주소';
COMMENT ON COLUMN con.CONCPSERVICEM.REP_COLOR_VALUE IS '대표색상값';
COMMENT ON COLUMN con.CONCPSERVICEM.FST_LANG_CD IS '1차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM.SCND_LANG_CD IS '2차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM.THRD_LANG_CD IS '3차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM.FOTH_LANG_CD IS '4차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM.FITH_LANG_CD IS '5차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM.TEST_LAB_USE_YN IS '테스트랩사용여부';
COMMENT ON COLUMN con.CONCPSERVICEM.TEST_LAB_REMARK_DESC IS '테스트랩비고내역';
COMMENT ON COLUMN con.CONCPSERVICEM.TEST_EVENT_ADD_YN IS '테스트이벤트추가여부';
COMMENT ON COLUMN con.CONCPSERVICEM.TEST_EVENT_REMARK_DESC IS '테스트이벤트비고내역';
COMMENT ON COLUMN con.CONCPSERVICEM.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCPSERVICEM.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCPSERVICEM.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCPSERVICEM.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCPSERVICEM.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCPSERVICEM.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCPSERVICEM IS '대회서비스정보';

CREATE UNIQUE INDEX CONCPSERVICEM_PK
 ON con.CONCPSERVICEM ( TENANT_ID,CP_CD,SERVICE_CD );

ALTER TABLE con.CONCPSERVICEM *
 ADD CONSTRAINT CONCPSERVICEM_PK PRIMARY KEY
 USING INDEX CONCPSERVICEM_PK ;


DROP TABLE IF EXISTS con.CONCPSERVICED CASCADE;

CREATE TABLE con.CONCPSERVICED
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 CP_CD	 varchar(10)  NOT NULL,
 	 SERVICE_CD	 varchar(10)  NOT NULL,
 	 SYSTEM_CD	 varchar(10)  NOT NULL,
 	 SERVICE_START_DT	 varchar(8) ,
 	 SERVICE_END_DT	 varchar(8) ,
 	 SERVICE_URL_ADDR	 varchar(1000) ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCPSERVICED.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCPSERVICED.CP_CD IS '대회코드';
COMMENT ON COLUMN con.CONCPSERVICED.SERVICE_CD IS '서비스코드';
COMMENT ON COLUMN con.CONCPSERVICED.SYSTEM_CD IS '시스템코드';
COMMENT ON COLUMN con.CONCPSERVICED.SERVICE_START_DT IS '서비스시작일자';
COMMENT ON COLUMN con.CONCPSERVICED.SERVICE_END_DT IS '서비스종료일자';
COMMENT ON COLUMN con.CONCPSERVICED.SERVICE_URL_ADDR IS '서비스URL주소';
COMMENT ON COLUMN con.CONCPSERVICED.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCPSERVICED.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCPSERVICED.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCPSERVICED.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCPSERVICED.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCPSERVICED.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCPSERVICED IS '대회서비스상세';

CREATE UNIQUE INDEX CONCPSERVICED_PK
 ON con.CONCPSERVICED ( TENANT_ID,CP_CD,SERVICE_CD,SYSTEM_CD );

ALTER TABLE con.CONCPSERVICED *
 ADD CONSTRAINT CONCPSERVICED_PK PRIMARY KEY
 USING INDEX CONCPSERVICED_PK ;


DROP TABLE IF EXISTS con.CONADMINM CASCADE;

CREATE TABLE con.CONADMINM
(
 	 ADMIN_ID	 varchar(50)  NOT NULL,
 	 ADMIN_NM	 varchar(100)  NOT NULL,
 	 ADMIN_PRIV_CD	 varchar(10)  NOT NULL,
 	 EMAIL_ADDR	 varchar(100) ,
 	 PASSWORD	 varchar(256)  NOT NULL,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONADMINM.ADMIN_ID IS '관리자아이디';
COMMENT ON COLUMN con.CONADMINM.ADMIN_NM IS '관리자명';
COMMENT ON COLUMN con.CONADMINM.ADMIN_PRIV_CD IS '관리자권한코드';
COMMENT ON COLUMN con.CONADMINM.EMAIL_ADDR IS '이메일주소';
COMMENT ON COLUMN con.CONADMINM.PASSWORD IS '비밀번호';
COMMENT ON COLUMN con.CONADMINM.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONADMINM.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONADMINM.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONADMINM.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONADMINM.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONADMINM.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONADMINM IS '관리자정보';

CREATE UNIQUE INDEX CONADMINM_PK
 ON con.CONADMINM ( ADMIN_ID );

ALTER TABLE con.CONADMINM *
 ADD CONSTRAINT CONADMINM_PK PRIMARY KEY
 USING INDEX CONADMINM_PK ;


DROP TABLE IF EXISTS con.CONCDM CASCADE;

CREATE TABLE con.CONCDM
(
 	 CD_GROUP_ID	 varchar(30)  NOT NULL,
 	 CD_GROUP_NM	 varchar(100)  NOT NULL,
 	 USE_YN	 varchar(1)  NOT NULL,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCDM.CD_GROUP_ID IS '코드그룹아이디';
COMMENT ON COLUMN con.CONCDM.CD_GROUP_NM IS '코드그룹명';
COMMENT ON COLUMN con.CONCDM.USE_YN IS '사용여부';
COMMENT ON COLUMN con.CONCDM.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCDM.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCDM.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCDM.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCDM.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCDM.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCDM IS '콘솔코드정보';

CREATE UNIQUE INDEX CONCDM_PK
 ON con.CONCDM ( CD_GROUP_ID );

ALTER TABLE con.CONCDM *
 ADD CONSTRAINT CONCDM_PK PRIMARY KEY
 USING INDEX CONCDM_PK ;


DROP TABLE IF EXISTS con.CONCDD CASCADE;

CREATE TABLE con.CONCDD
(
 	 CD_GROUP_ID	 varchar(30)  NOT NULL,
 	 CD_ID	 varchar(30)  NOT NULL,
 	 CD_NM	 varchar(50)  NOT NULL,
 	 SORT_ORD	 integer ,
 	 USE_YN	 varchar(1) ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCDD.CD_GROUP_ID IS '코드그룹아이디';
COMMENT ON COLUMN con.CONCDD.CD_ID IS '코드아이디';
COMMENT ON COLUMN con.CONCDD.CD_NM IS '코드명';
COMMENT ON COLUMN con.CONCDD.SORT_ORD IS '정렬순서';
COMMENT ON COLUMN con.CONCDD.USE_YN IS '사용여부';
COMMENT ON COLUMN con.CONCDD.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCDD.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCDD.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCDD.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCDD.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCDD.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCDD IS '콘솔코드상세';

CREATE UNIQUE INDEX CONCDD_PK
 ON con.CONCDD ( CD_GROUP_ID,
	CD_ID );

ALTER TABLE con.CONCDD *
 ADD CONSTRAINT CONCDD_PK PRIMARY KEY
 USING INDEX CONCDD_PK ;


DROP TABLE IF EXISTS con.CONCPIMGM CASCADE;

CREATE TABLE con.CONCPIMGM
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 CP_CD	 varchar(10)  NOT NULL,
 	 IMG_FG_CD	 varchar(10)  NOT NULL,
 	 IMG_SEQ	 integer  NOT NULL,
 	 FILE_PATH_NM	 varchar(1000)  NOT NULL,
 	 IMG_FILE_NM	 varchar(100)  NOT NULL,
 	 REP_IMG_YN	 varchar(1) ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCPIMGM.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCPIMGM.CP_CD IS '대회코드';
COMMENT ON COLUMN con.CONCPIMGM.IMG_FG_CD IS '이미지구분코드';
COMMENT ON COLUMN con.CONCPIMGM.IMG_SEQ IS '이미지일련번호';
COMMENT ON COLUMN con.CONCPIMGM.FILE_PATH_NM IS '파일경로명';
COMMENT ON COLUMN con.CONCPIMGM.IMG_FILE_NM IS '이미지파일명';
COMMENT ON COLUMN con.CONCPIMGM.REP_IMG_YN IS '대표이미지여부';
COMMENT ON COLUMN con.CONCPIMGM.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCPIMGM.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCPIMGM.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCPIMGM.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCPIMGM.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCPIMGM.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCPIMGM IS '대회이미지정보';

CREATE UNIQUE INDEX CONCPIMGM_PK
 ON con.CONCPIMGM ( TENANT_ID,CP_CD,IMG_FG_CD,IMG_SEQ );

ALTER TABLE con.CONCPIMGM *
 ADD CONSTRAINT CONCPIMGM_PK PRIMARY KEY
 USING INDEX CONCPIMGM_PK ;


DROP TABLE IF EXISTS con.CONCUSTCONTMONTRNM CASCADE;

CREATE TABLE con.CONCUSTCONTMONTRNM
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 MONTRN_FG_CD	 varchar(10)  NOT NULL,
 	 MONTRN_URL_ADDR	 varchar(1000)  NOT NULL,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCUSTCONTMONTRNM.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCUSTCONTMONTRNM.MONTRN_FG_CD IS '모니터링구분코드';
COMMENT ON COLUMN con.CONCUSTCONTMONTRNM.MONTRN_URL_ADDR IS '모니터링URL주소';
COMMENT ON COLUMN con.CONCUSTCONTMONTRNM.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCUSTCONTMONTRNM.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCUSTCONTMONTRNM.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCUSTCONTMONTRNM.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCUSTCONTMONTRNM.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCUSTCONTMONTRNM.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCUSTCONTMONTRNM IS '고객계약모니터링정보';

CREATE UNIQUE INDEX CONCUSTCONTMONTRNM_PK
 ON con.CONCUSTCONTMONTRNM ( TENANT_ID,MONTRN_FG_CD );

ALTER TABLE con.CONCUSTCONTMONTRNM *
 ADD CONSTRAINT CONCUSTCONTMONTRNM_PK PRIMARY KEY
 USING INDEX CONCUSTCONTMONTRNM_PK ;


DROP TABLE IF EXISTS con.CONCUSTCONTM_LOG CASCADE;

CREATE TABLE con.CONCUSTCONTM_LOG
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 LOG_SEQ	 bigserial  NOT NULL,
 	 CUST_ID	 varchar(50)  NOT NULL,
 	 CONT_NM	 varchar(100)  NOT NULL,
 	 VALID_START_DT	 varchar(8)  NOT NULL,
 	 VALID_END_DT	 varchar(8)  NOT NULL,
 	 CONT_STAT_CD	 varchar(10)  NOT NULL,
 	 NETWORK_FG_CD	 varchar(10)  NOT NULL,
 	 PASSWORD_LOD_CD	 varchar(10) ,
 	 PASSWORD_MIN_LEN	 integer ,
 	 PASSWORD_RNWL_CYCL_CD	 varchar(10) ,
 	 PASSWORD_USE_LMT_YN	 varchar(1) ,
 	 PASSWORD_POSE_YN	 varchar(1) ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCUSTCONTM_LOG.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.LOG_SEQ IS '로그일련번호';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.CUST_ID IS '고객아이디';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.CONT_NM IS '계약명';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.VALID_START_DT IS '유효시작일자';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.VALID_END_DT IS '유효종료일자';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.CONT_STAT_CD IS '계약상태코드';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.NETWORK_FG_CD IS '네트워크구분코드';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.PASSWORD_LOD_CD IS '비밀번호난이도코드';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.PASSWORD_MIN_LEN IS '비밀번호최소길이';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.PASSWORD_RNWL_CYCL_CD IS '비밀번호갱신주기코드';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.PASSWORD_USE_LMT_YN IS '비밀번호사용제한여부';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.PASSWORD_POSE_YN IS '비밀번호일시정지여부';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCUSTCONTM_LOG.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCUSTCONTM_LOG IS '고객계약정보이력';

CREATE UNIQUE INDEX CONCUSTCONTM_LOG_PK
 ON con.CONCUSTCONTM_LOG ( TENANT_ID,LOG_SEQ );

ALTER TABLE con.CONCUSTCONTM_LOG *
 ADD CONSTRAINT CONCUSTCONTM_LOG_PK PRIMARY KEY
 USING INDEX CONCUSTCONTM_LOG_PK ;


DROP TABLE IF EXISTS con.CONCPM_LOG CASCADE;

CREATE TABLE con.CONCPM_LOG
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 CP_CD	 varchar(10)  NOT NULL,
 	 LOG_SEQ	 bigserial  NOT NULL,
 	 CP_NM	 varchar(100)  NOT NULL,
 	 CP_START_DT	 varchar(8)  NOT NULL,
 	 CP_END_DT	 varchar(8)  NOT NULL,
 	 CP_PLACE_NM	 varchar(100)  NOT NULL,
 	 CP_SCALE_CD	 varchar(10)  NOT NULL,
 	 CP_TYPE_CD	 varchar(10)  NOT NULL,
 	 EXPECT_USER_NUM	 integer ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCPM_LOG.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCPM_LOG.CP_CD IS '대회코드';
COMMENT ON COLUMN con.CONCPM_LOG.LOG_SEQ IS '로그일련번호';
COMMENT ON COLUMN con.CONCPM_LOG.CP_NM IS '대회명';
COMMENT ON COLUMN con.CONCPM_LOG.CP_START_DT IS '대회시작일자';
COMMENT ON COLUMN con.CONCPM_LOG.CP_END_DT IS '대회종료일자';
COMMENT ON COLUMN con.CONCPM_LOG.CP_PLACE_NM IS '대회장소명';
COMMENT ON COLUMN con.CONCPM_LOG.CP_SCALE_CD IS '대회규모코드';
COMMENT ON COLUMN con.CONCPM_LOG.CP_TYPE_CD IS '대회유형코드';
COMMENT ON COLUMN con.CONCPM_LOG.EXPECT_USER_NUM IS '예상사용자수';
COMMENT ON COLUMN con.CONCPM_LOG.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCPM_LOG.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCPM_LOG.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCPM_LOG.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCPM_LOG.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCPM_LOG.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCPM_LOG IS '대회정보이력';

CREATE UNIQUE INDEX CONCPM_LOG_PK
 ON con.CONCPM_LOG ( TENANT_ID,CP_CD,LOG_SEQ );

ALTER TABLE con.CONCPM_LOG *
 ADD CONSTRAINT CONCPM_LOG_PK PRIMARY KEY
 USING INDEX CONCPM_LOG_PK ;


DROP TABLE IF EXISTS con.CONCPSERVICEM_LOG CASCADE;

CREATE TABLE con.CONCPSERVICEM_LOG
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 CP_CD	 varchar(10)  NOT NULL,
 	 SERVICE_CD	 varchar(10)  NOT NULL,
 	 LOG_SEQ	 bigserial  NOT NULL,
 	 SERVICE_START_DT	 varchar(8)  NOT NULL,
 	 SERVICE_END_DT	 varchar(8)  NOT NULL,
 	 SERVICE_URL_ADDR	 varchar(1000)  NOT NULL,
 	 REP_COLOR_VALUE	 varchar(10) ,
 	 FST_LANG_CD	 varchar(10) ,
 	 SCND_LANG_CD	 varchar(10) ,
 	 THRD_LANG_CD	 varchar(10) ,
 	 FOTH_LANG_CD	 varchar(10) ,
 	 FITH_LANG_CD	 varchar(10) ,
 	 TEST_LAB_USE_YN	 varchar(1) ,
 	 TEST_LAB_REMARK_DESC	 varchar(4000) ,
 	 TEST_EVENT_ADD_YN	 varchar(1) ,
 	 TEST_EVENT_REMARK_DESC	 varchar(4000) ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCPSERVICEM_LOG.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.CP_CD IS '대회코드';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.SERVICE_CD IS '서비스코드';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.LOG_SEQ IS '로그일련번호';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.SERVICE_START_DT IS '서비스시작일자';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.SERVICE_END_DT IS '서비스종료일자';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.SERVICE_URL_ADDR IS '서비스URL주소';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.REP_COLOR_VALUE IS '대표색상값';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.FST_LANG_CD IS '1차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.SCND_LANG_CD IS '2차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.THRD_LANG_CD IS '3차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.FOTH_LANG_CD IS '4차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.FITH_LANG_CD IS '5차언어코드';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.TEST_LAB_USE_YN IS '테스트랩사용여부';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.TEST_LAB_REMARK_DESC IS '테스트랩비고내역';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.TEST_EVENT_ADD_YN IS '테스트이벤트추가여부';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.TEST_EVENT_REMARK_DESC IS '테스트이벤트비고내역';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCPSERVICEM_LOG.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCPSERVICEM_LOG IS '대회서비스정보이력';

CREATE UNIQUE INDEX CONCPSERVICEM_LOG_PK
 ON con.CONCPSERVICEM_LOG ( TENANT_ID,CP_CD,SERVICE_CD,LOG_SEQ );

ALTER TABLE con.CONCPSERVICEM_LOG *
 ADD CONSTRAINT CONCPSERVICEM_LOG_PK PRIMARY KEY
 USING INDEX CONCPSERVICEM_LOG_PK ;


DROP TABLE IF EXISTS con.CONCPSERVICED_LOG CASCADE;

CREATE TABLE con.CONCPSERVICED_LOG
(
 	 TENANT_ID	 varchar(30)  NOT NULL,
 	 CP_CD	 varchar(10)  NOT NULL,
 	 SERVICE_CD	 varchar(10)  NOT NULL,
 	 SYSTEM_CD	 varchar(10)  NOT NULL,
 	 LOG_SEQ	 bigserial  NOT NULL,
 	 SERVICE_START_DT	 varchar(8) ,
 	 SERVICE_END_DT	 varchar(8) ,
 	 SERVICE_URL_ADDR	 varchar(1000) ,
 	 CRT_ID	 varchar(50)  NOT NULL,
 	 CRT_IP	 varchar(15)  NOT NULL,
 	 AD_DATE	 TIMESTAMP(3)  NOT NULL,
 	 UDT_ID	 varchar(50) ,
 	 UDT_IP	 varchar(15) ,
 	 UDT_DATE	 TIMESTAMP(3) 
);


COMMENT ON COLUMN con.CONCPSERVICED_LOG.TENANT_ID IS '테넌트아이디';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.CP_CD IS '대회코드';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.SERVICE_CD IS '서비스코드';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.SYSTEM_CD IS '시스템코드';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.LOG_SEQ IS '로그일련번호';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.SERVICE_START_DT IS '서비스시작일자';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.SERVICE_END_DT IS '서비스종료일자';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.SERVICE_URL_ADDR IS '서비스URL주소';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.CRT_ID IS '등록자아이디';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.CRT_IP IS '등록자아이피';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.AD_DATE IS '등록일시';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.UDT_ID IS '수정자아이디';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.UDT_IP IS '수정자아이피';
COMMENT ON COLUMN con.CONCPSERVICED_LOG.UDT_DATE IS '수정일시';
COMMENT ON TABLE con.CONCPSERVICED_LOG IS '대회서비스상세이력';

CREATE UNIQUE INDEX CONCPSERVICED_LOG_PK
 ON con.CONCPSERVICED_LOG ( TENANT_ID,CP_CD,SERVICE_CD,SYSTEM_CD,LOG_SEQ );

ALTER TABLE con.CONCPSERVICED_LOG *
 ADD CONSTRAINT CONCPSERVICED_LOG_PK PRIMARY KEY
 USING INDEX CONCPSERVICED_LOG_PK ;

 
 /* 시퀀스 추가-콘솔개발팀 요청:테넌트아이디 일련번호 조합 생성용 2018.02.09 (신GJ) */
 
 CREATE SEQUENCE con.concustcontm_tenant_id_seq
    INCREMENT 1
    START 13
    MINVALUE 0
    MAXVALUE 999999
    CACHE 1;

/* 기본 로그인 유저 추가 (ID:admin, PW:admin) */
INSERT INTO con.conadminm (
		admin_id, 
		admin_nm, 
		admin_priv_cd, 
		email_addr, 
		password, 
		crt_id, 
		crt_ip, 
		ad_date,
		udt_id, 
		udt_ip, 
		udt_date)
VALUES ('admin', 
	'관리자',
	'ADMIN',
	'1234@kt.com',
	'admin', 
	'admin', 
	'127.0.0.1',
	current_timestamp, 
	'admin', 
	'127.0.0.1',
	current_timestamp);
