<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicc.console.dao.ServiceApplyDao">

	<insert id="insServiceApply" parameterType="com.sicc.console.model.ServiceModel">
		INSERT INTO con.concpservicem(
				tenant_id,
				cp_cd,
				service_cd, 
				service_start_dt, 
				service_end_dt, 
				service_url_addr, 
				rep_color_value,
				fst_lang_cd, 
				scnd_lang_cd, 
				thrd_lang_cd, 
				foth_lang_cd, 
				fith_lang_cd,
				test_lab_use_yn, 
				test_lab_remark_desc, 
				test_event_add_yn,
				test_event_remark_desc, 
				crt_id, 
				crt_ip, 
				ad_date, 
				udt_id, 
				udt_ip,
				udt_date)
		VALUES (#{tenantId},
				#{cpCd}, 
				#{serviceCd}, 
				#{serviceStartDt}, 
				#{serviceEndDt},
				#{serviceUrlAddr}, 
				#{repColorCd}, 
				#{fstLangCd}, 
				#{scndLangCd}, 
				#{thrdLangCd},
		 		#{fothLangCd}, 
		 		#{fithLangCd}, 
		 		#{testLabUseYn}, 
		 		#{testLabRemarkDesc},
		 		#{testEventAddYn}, 
		 		#{testEventRemarkDesc}, 
		 		#{crtId},
		 		#{crtIp},
		 		current_timestamp, 
				#{udtId},
				#{udtIp},
				current_timestamp)
	</insert>

	<insert id="insServiceApplyDetail" parameterType="com.sicc.console.model.ServiceDetailModel">
		INSERT INTO con.concpserviced(
				tenant_id,
				cp_cd, 
				service_cd, 
				system_cd, 
				service_start_dt, 
				service_end_dt, 
				service_url_addr, 
				crt_id,
				crt_ip, 
				ad_date, 
				udt_id, 
				udt_ip, 
				udt_date)
		VALUES (#{tenantId},
				#{cpCd}, 
				#{serviceCd}, 
				#{systemCd}, 
				#{serviceStartDt}, 
				#{serviceEndDt}, 
				#{serviceUrlAddr}, 
				#{crtId},
		 		#{crtIp},
		 		current_timestamp, 
				#{udtId},
				#{udtIp},
				current_timestamp)
	</insert>

	<select id="selListServiceApply" parameterType="com.sicc.console.model.ServiceModel" resultType="com.sicc.console.model.ServiceExtModel">
		SELECT  COUNT(1) OVER() AS totalCount,
				servicem.tenant_id AS tenantId, 
				servicem.cp_cd AS cpCd, 
		        servicem.service_cd AS serviceCd, 
		        servicem.ad_date AS adDate,
		        cpm.cp_nm AS cpNm,
		        cpm.cp_start_dt AS cpStartDt,
		        cpm.cp_end_dt AS cpEndDt
		FROM (SELECT tenant_id,
	            cp_cd,
	            STRING_AGG(service_cd,',') as service_cd, 
	            max(ad_date) as ad_date
	            FROM con.concpservicem
	            group by tenant_id, cp_cd	) AS servicem 
	    	 INNER JOIN 
	    	 con.concpm AS cpm
	    ON servicem.tenant_id = cpm.tenant_id 
	    	AND servicem.cp_cd = cpm.cp_cd
		ORDER BY cpm.tenant_id desc
		LIMIT #{rowPerPage} OFFSET #{skipCount}

	</select>

</mapper>